.footer {
  position: fixed;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  height: 72px;
}

.footer-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer-list svg {
  width: 24px;
  height: 24px;
  transition: 0.3s ease;
}

.footer-list li:focus svg {
  fill: #ff9f24;
}
