.product-container img {
  width: auto;
  height: 240px;
  mix-blend-mode: darken;
}

.props-container {
  padding: 0 5%;
  border-radius: 48px 48px 0px 0px;
  background: #fff;
}

.branding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 -30px 0;
}

.branding h3 {
  color: #0f0d23;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: 25px;
}

.branding span {
  color: var(--Primary-Color, #ff9f24);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.origin {
  display: flex;
  color: var(--Medium, #969696);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description-sect {
  text-align: start;
}

.title-desc {
  color: var(--Dark, #323232);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.details-desc {
  color: #969696;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.read-more-but {
  color: #ff9f24;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: transparent;
}

.details-size {
  text-align: start;
  color: var(--Dark, #323232);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.details-button {
  padding: 5px 5px;
  flex-shrink: 0;
  border-radius: 15.5px;
  border: 1px solid #969696;
  border: 1px solid #969696;
  color: var(--Medium, #969696);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  transition: 0.3s ease;
}

.button-map {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.details-button:focus {
  color: #ff9f24;
  border: 1px solid #ff9f24;
}
